<!DOCTYPE html><html><head>
    <% include ../includes/header.ejs %>
  </head>
  <body>
    <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1><%= title %></h1>
        <p></p>
      </div>
    </div>
    <div>
        <!-- Log-in -->
        <form action="/prove05/logged-in" method="POST">
            <label for="username">Username: </label>
            <input type="text" name="username"><br>

            <label for="password">Password: </label>
            <input type="text" name="password"><br>

            <button type="submit">Log-in</button>
        </form>
        <!-- Form for requirement 01 -->
    </div>
  </body></html>
  